.loader {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
  height: 100vh;

  background-color: var(--white);
}

.loader__spinner {
  width: 56px;
  height: 56px;

  background: conic-gradient(#0000 10%, var(--purple));
  border-radius: 50%;

  mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);

  animation: spinner-zp9dbg 1s infinite linear;
}

@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
}
