.tabs {
  overflow-x: auto;
  display: flex;

  padding-top: 4px;
}

.tabs__item {
  padding: 12px 12px 8px;

  font-size: 15px;
  font-weight: 500;
  color: #97979b;
  white-space: nowrap;

  transition: color 0.2s linear;

  &:hover {
    color: #737375;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.tabs__item.active {
  font-weight: 600;
  color: var(--black);

  border-bottom: 2px solid var(--purple);

  &:disabled {
    cursor: pointer;
  }
}
