.bar {
  display: flex;
  align-items: center;

  padding: 6px 0;
}

.bar__img {
  cursor: pointer;

  display: block;

  width: 72px;
  height: 72px;
  margin-right: 16px;

  object-fit: cover;
  border-radius: 50%;
}

.bar__name {
  cursor: pointer;

  font-size: 16px;
  font-weight: 500;
  color: var(--black);
}

.bar__tag {
  font-size: 14px;
  font-weight: 500;
  color: #97979b;
  text-transform: lowercase;
}

.bar__position {
  font-size: 13px;
  font-weight: 400;
  color: #55555c;
}

.bar__birthday {
  margin-left: auto;

  font-size: 15px;
  font-weight: 400;
  color: #55555c;
}
