.error__content {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 40%;
  margin: 0 auto;
  padding-top: 20vh;
}

.error__img {
  width: 56px;
  height: 56px;
  margin-bottom: 8px;
}

.error__title {
  margin-bottom: 12px;

  font-size: 17px;
  font-weight: 600;
  color: var(--black);
}

.error__text {
  margin-bottom: 12px;

  font-size: 16px;
  font-weight: 400;
  color: #97979b;
}

.error__button {
  font-size: 16px;
  font-weight: 600;
  color: var(--purple);

  transition: opacity 0.2s linear;

  &:hover {
    opacity: 0.8;
  }
}
