@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url('../assets/fonts/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  src: url('../assets/fonts/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  font-weight: 600;
  src: url('../assets/fonts/Inter-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url('../assets/fonts/Inter-Bold.ttf') format('truetype');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --black: #050510;
  --purple: #6534ff;
  --white: #fff;

  font-family: Inter, sans-serif;

  caret-color: var(--purple);
}

button {
  cursor: pointer;

  font-family: inherit;

  background-color: transparent;
  border: 0;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

input[type='radio'] {
  width: 20px;
  height: 20px;

  background-color: var(--white);
  border: 2px solid var(--purple);
  border-radius: 50%;

  appearance: none;

  &:checked {
    border: 6px solid var(--purple);
  }
}

::selection {
  color: var(--white);

  background-color: var(--purple);
}
