@font-face {
  font-family: Inter;
  font-weight: 400;
  src: url('../assets/fonts/Inter-Regular.ttf') format('ttf');
}

@font-face {
  font-family: Inter;
  font-weight: 500;
  src: url('../assets/fonts/Inter-Medium.ttf') format('ttf');
}
@font-face {
  font-family: Inter;
  font-weight: 600;
  src: url('../assets/fonts/Inter-SemiBold.ttf') format('ttf');
}
@font-face {
  font-family: Inter;
  font-weight: 700;
  src: url('../assets/fonts/Inter-Bold.ttf') format('ttf');
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  --black: #050510;
  --purple: #6534ff;

  font-family: Inter, sans-serif;
}

button {
  cursor: pointer;

  font-family: inherit;

  background-color: transparent;
  border: 0;
}
